$white_fff: #fff;
html {
    background-color: $white_fff;
    .test {
        animation: mymove 5s infinite;
        animation-delay: 2s;
        animation-direction: alternate;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: mymove;
        animation-play-state: running;
        animation-timing-function: linear;
        backface-visibility: hidden;
        background: $white_fff url('http://www.example.com/image.png') no-repeat center center;
        background-attachment: fixed;
        background-clip: padding-box;
        background-color: blue;
        background-origin: content-box;
        background-position: 36px 37px;
        background-repeat: repeat-x;
        background-size: 38px 39px;
        border: 1px solid black;
        border-bottom: 4px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 9px;
        border-collapse: separate;
        border-left: 5px solid black;
        border-radius: 6px;
        border-right: 3px solid black;
        border-spacing: 11px 12px;
        border-top: 2px solid black;
        border-top-left-radius: 7px;
        border-top-right-radius: 8px;
        bottom: 31px;
        box-shadow: 0 0 34px 35px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        caption-side: bottom;
        clear: both;
        clip: rect(48px, 49px, 50px, 51px);
        clip-path: polygon(52px 53px, 54px 55px, 56px 57px);
        color: red;
        content: 'attr(data-title)';
        counter-increment: section;
        counter-reset: section;
        cursor: pointer;
        direction: rtl;
        display: inline;
        empty-cells: show;
        filter:blur(58px);
        float: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        height: 24px;
        image-rendering: -webkit-crisp-edges;
        left: 32px;
        letter-spacing: 2px;
        line-height: 1.5;
        list-style: square inside url('http://www.example.com/image.png');
        list-style-image: url('http://www.example.com/image.png');
        list-style-position: inside;
        list-style-type: square;
        margin: 19px 20px 21px 22px;
        max-height: 28px;
        max-width: 27px;
        min-height: 26px;
        min-width: 25px;
        opacity: 0.5;
        outline: 1px solid black;
        outline-offset: 40px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 14px 15px 16px 17px;
        perspective: 45px;
        perspective-origin: 46px 47px;
        position: absolute;
        quotes: '“' '”' '‘' '’';
        resize: both;
        right: 30px;
        table-layout: fixed;
        text-align: center;
        text-decoration: underline;
        text-indent: 4px;
        text-transform: uppercase;
        top: 29px;
        transform: translate(41px, 42px);
        transform-origin: 43px 44px;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        transition-property: width, height;
        transition-timing-function: ease;
        user-select: none;
        vertical-align: middle;
        visibility: hidden;
        white-space: nowrap;
        width: 23px;
        will-change: transform;
        word-spacing: 3px;
        z-index: 33;
    }
}
